* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; 
}

body.dark-theme {
    --calendar-bg: #000;
    --button-bg: #16449C;
    --button-text: white;
    --button-border: #555;
    --event-modal: #424242;
    background-color: black;
    color: #d4cdd2;
}

body.light-theme {
    --calendar-bg: white;
    --button-bg: black;
    --button-text: white;
    --button-border: black;
    --event-modal: #e2e2e2;
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
}

header .logo {
    height: 50px;
}

.theme-switcher {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: auto; 
}

.filters {
    width: 25%;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.filters label {
    font-size: 14px;
}

.filters input {
    padding: 8px;
    border: 1px solid var(--button-border);
    border-radius: 5px;
    background: var(--color);
    color: var(--color);
}

.filters button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.filters #szukaj {
    background: #16449C;
}

.filters #wyczysc {
    background: #008B4D;
}

.filters .checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.filters .checkboxes label {
    display: flex;
    align-items: center;
}

.filters .checkboxes input {
    margin-right: 5px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.controls button,
.controls select {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #16449C;
    color: white;
    cursor: pointer;
}

.controls #fav {
    background: #16449C;
    font-size: 16px;
}

.calendar {
    width: 100%; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--calendar-bg);
    color: var(--color);
    overflow-y: auto; 
}

.calendar-table {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1px;
    background-color: var(--button-border);
    border-collapse: collapse;
}

.calendar-table .time-column {
    background: #f4f4f4;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.calendar-table .event-cell {
    background: white;
    height: 60px; 
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calendar-table .event-cell:hover {
    background-color: #f0f8ff;
    cursor: pointer;
}

.event-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--event-modal);
    color: var(--color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; 
}

.event-modal.active {
    display: block; 
}

.event-modal .close-button {
    background: rgb(148, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.week-view, .day-view {
    display: block;
}

.week-view .day-header {
    text-align: center;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}

.day-view .time-slot {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    padding: 10px;
    background-color: var(--background-color);
    color: var(--color);
    position: relative; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

footer .legend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

footer .legend p {
    margin: 0;
    font-size: 14px;
}

footer .legend .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

footer .dot.green { background: green; }
footer .dot.blue { background: blue; }
footer .dot.olive { background: olive; }
footer .dot.orange { background: orange; }
footer .dot.teal { background: teal; }

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo {
        height: 40px;
    }

    .theme-switcher {
        font-size: 20px;
        margin-top: 10px;
    }

    #export-ical {
        padding: 8px;
        border: 1px solid #555;
        border-radius: 5px;
        background: #16449C;
        color: white;
        cursor: pointer;
    }

    .main-content {
        flex-direction: column;
    }

    .filters {
        width: 100%;
        padding: 15px;
        gap: 5px;
    }

    .filters label {
        font-size: 12px;
    }

    .calendar {
        padding: 10px;
        height: auto; 
    }

     .controls button:not(.controls select):not(.controls button#today) {
        width: 35px;
        height: 35px;
        padding: 0;
        font-size: 14px;
    }

    .controls button#today,
    .controls select {
        width: 85px;
    }

    .controls {
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
    }

    .filters .checkboxes {
        grid-template-columns: 1fr;
    }

    .filters button {
        font-size: 14px;
        padding: 8px;
    }

    footer {
        position: relative; 
    }
}
